<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magento_ImportServiceUI::system_convert_async_import" title="Asynchronous Import" translate="title" module="Magento_ImportServiceUI" sortOrder="50" parent="Magento_Backend::system_convert" action="adminhtml/async_import" resource="Magento_ImportServiceUI::async_import"/>
    </menu>
</config>
